body {
	padding: 0;
	margin: 0;
}
#chat {
	display: flex;
	height: 100vh;
	background-color: gray;
}
#rooms_wrap {
	flex-basis: 20%;
	background-color: blue;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.room_item {
	cursor: pointer;
	padding: 15px;
	background-color: #fff;
	margin: 15px;
	border-radius: 5px;
}
.room_item.active {
	background-color: green;
	color: #fff;
}
.right {
	text-align: right;
}
#messages {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
	background-color: #fff;
	flex-grow: 1;	
	visibility: hidden;
	position: relative;
}
#messages_form {
	background-color: #8B4513;
	padding: 10px;
}
#messages_body {
	overflow-y: scroll;
	flex-grow: 1;
}
#messages_form form{
	display: flex;
	justify-content: space-between;
}
#messages_form form img {
	width: 40px;
	cursor: pointer;
	margin-right: 15px;
}
#messages_form form input {
	flex-grow: 1;
	height: 40px;
	padding-left: 10px;
	margin-right: 10px;
}
.line {
	text-align: center;
	font-size: 12px;
	color: blue;
}
.message_item {
	margin: 10px;
}
.message_item p {
	margin: 5px 0;
}
.message_item div img {
	border-radius: 5px;
}
.message_item > div {
	display: inline-block;
	text-align: left;
	min-width: 250px;
	max-width: 60%;
	padding: 5px 15px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: lightgreen;
}
.message_item.my_message > div {
	background-color: lightblue;
}
.image_message_body {
	height: 250px;
	width: 250px;
	overflow: hidden;
	position: relative;
	margin: 5px 0;
}
.image_message_body img, .image_message_body svg {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	height: 100%;
	width: auto;
}

.image_message_body svg {
	transform: translate(-50%, -50%);
	top: 50%;
}
.video_message_body {
	max-width: 100%;
	width: 400px;
	height: 230px;
	font-size: 0;
	margin: 5px 0;
}
.video_message_body a {
	display: flex;
	align-items: center;
	position: relative;
	height: 100%;
}
.popup-on {
	overflow: hidden;
}
.video_message_body a:after {
	position: absolute;
	content: '';
	width: 80px;
	height: 80px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0,0,0,0.5);
	background-image: url('/img/play-arrow.svg');
	background-size: 35px;
	background-repeat: no-repeat;
	background-position: 55% 50%;
}
.video_message_body img{
	width: 100%;
}
.video_message_body video {
	width: 100%;
	height: 100%;
}
.progress-body {
	height: 100%;
}
.progress {
	height: 6px;
	background-color: green;
	width: 0;
	border-radius: 2px;
	margin-top: 5px;
}
.temp_messages {
	position: absolute;
	bottom: 75px;
	left: 10px;
	width: 200px;
	border-radius: 5px;
	text-align: left;
	box-shadow: 0 0 5px 0 #000;
	max-width: 40%;
}
.message_temp {
	background-color: lightblue;
	padding: 10px;
	border-bottom: 1px solid #000;
}
.message_temp:last-child {
	border-bottom: 0;
}
.message_temp p {
	margin: 0;
}
.document_message_body {
	text-align: center;
	margin: 15px 0 5px;
	text-align: center;
	height: 125px;
}
.document_message_body a {
	display: block;
	text-decoration: none;
	color: #000;
}
.document_message_body a img {
	display: block;
	margin: 0 auto 5px;
	width: 100px;
}
#video_popup {
	display: none;
}
#video_popup.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.7);
}
#video_popup video {
	max-width: 100%;
	position: relative;
	z-index: 2;
}
.v_bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}